<div>
  <h4>comments ({{ comments|length }}):</h4>

  {% for comment in comments %}
  <div class="border border-1 px-4 my-1">
    <p class="fs-6 fw-bold my-3">User: {{ comment.user }}</p>
    <p class="ms-2 text-body-secondary">{{ comment.comment }}</p>
    <p class="ms-2 text-body-secondary">{{ comment.created_at }}</p>


    <div class="ms-5 ps-5">
      <div class="d-flex flex-column">
        <a class="text-bg" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseCommentReplies{{ comment.id }}" aria-expanded="false"
          aria-controls="collapseCommentReplies{{ comment.id }}">
          show replies
        </a>
        <div class="collapse" id="collapseCommentReplies{{ comment.id }}">
          <div class="d-flex flex-column">
            <div>
              {% for rep in comment.reply.all %}
              <div class="border border-1 px-4 my-1">
                <p class="fs-6 fw-bold my-3">User: {{ rep.user }}</p>
                <p class="ms-2 text-body-secondary">{{ rep.eply }}</p>
                <p class="ms-2 text-body-secondary">{{ rep.created_at }}</p>


              </div>
              {% endfor %}
            </div>
            <form action="" method="POST" class="mx-3 form-control border-0">
              {% csrf_token %}
              {{ add_reply }}
              <input type="hidden" name="comment_id" class="form-control" value="{{ comment.id }}">
              <button type="submit" name="reply" class="btn btn-dark shadow-none text-center mt-2">
                Comment
              </button>
            </form>
          </div>
        </div>
      </div>

      <a class="text-bg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCommentReport{{ comment.id }}"
        aria-expanded="false" aria-controls="collapseCommentReport{{ comment.id }}">
        Report this Comment
      </a>
      <div class="collapse" id="collapseCommentReport{{ comment.id }}">
        <div class="d-flex flex-row">
          <form action="" method="POST" class="mx-3 form-control border-0">
            {% csrf_token %}
            {{ comment_report_form }}
            <input type="hidden" name="comment_id" class="form-control" value="{{ comment.id }}">
            <button type="submit" name="comment_report" class="btn btn-dark shadow-none text-center mt-2">
              Report
            </button>
          </form>
        </div>
      </div>
    </div>

  </div>
  {% endfor %}






  <div>
    <form method="post">

      {% csrf_token %}
      {{ comment_form.as_p }}

      <button type="submit" name='comment_submit' class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>