{% extends 'project/layouts/base.html' %} {% load static %} {% block title %}
Confirm Password {% endblock %} {% block body %}

<section class="vh-100" style="">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Password Reset</h3>
              <form method="post" class="m-5">
            {% csrf_token %} 
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
              {% for field, errors in form.errors.items %}
              <strong>{{ field|title }}:</strong>
              <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
              {% endfor %}
            </div>
            {% endif %}


            <div class="form-outline mb-4">
              {{ form.new_password1 }}
              <label class="form-label" for="typePasswordX-2">Password</label>
              
            </div>

            <div class="form-outline mb-4">
              {{ form.new_password2 }}
              <label class="form-label" for="typePasswordX-2">Confirm Password</label>
              
            </div>

            

            <button class="btn btn-primary btn-lg btn-block" type="submit">
              Login
            </button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

</section>

{% endblock %}
