{% extends 'project/layouts/base.html' %}
{% load static %}
{% block title %} enhance {% endblock %}

{% block body %}
<div style="margin: 100px;">
    
    <h1>Delete Confirmation</h1>
    <p>Are you sure you want to delete this item?</p>
    <form method="post">
        {% csrf_token %}
        <span class="error text-danger">{{ form.password.errors.0 }}</span> <!-- Display custom error message here -->

        <div>
            {{form.password}}
        </div>

        <button type="submit">Delete</button>
        <a href="{% url 'account.edit' %}">Cancel</a>
    </form>


    
    
    
</div style="margin: 100px;">

{% endblock %}