{% extends 'project/layouts/base.html' %} {% load static %} {% block title %}
enhance {% endblock %} {% block body %}
<div>
  <a href="{{user.get_delete_url}}">Delete Account</a>
</div>
<div class="">
  <div class="container" style="margin: 100px">
    <h2>Edit Profile</h2>
    <form method="post" class="m-5" enctype="multipart/form-data">
      {% csrf_token %} {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        {% for field, errors in form.errors.items %}
        <strong>{{ field|title }}:</strong>
        <ul>
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
      {% endif %}

      <div class="row p-3">
        <label class="col-3" for="id_username">Email :</label>
        <div class="col-5">{{ user.email }}</div>
      </div>

      <div class="row p-3">
        <label class="col-3" for="id_username">Visible Name :</label>
        <div class="col-5">{{ form.username }}</div>
      </div>

      <div class="row p-3">
        <label class="col-3" for="id_first_name">First Name:</label>
        <div class="col-5">{{ form.first_name }}</div>
      </div>

      <div class="row p-3">
        <label class="col-3" for="id_last_name">Last Name:</label>
        <div class="col-5">{{ form.last_name }}</div>
      </div>

      <div class="row p-3">
        <label class="col-3" for="id_last_name">Mobile Number:</label>
        <div class="col-5">{{ form.phone }}</div>
      </div>

      
      <div class="row p-3">
        <div class="col-3">{{ form.birthDate.label_tag }}</div>
        <div class="col-5">{{ form.birthDate }} </div>
      </div>

      

      <div class="row p-3">
        <label class="col-3" for="id_last_name">FaceBook:</label>
        <div class="col-5">{{ form.facebookProfile }}</div>
      </div>

      <div class="row p-3">
        <label class="col-3" for="id_last_name">Country:</label>
        <div class="col-5">{{ form.country }}</div>
      </div>

      <button type="submit" class="btn btn-primary m-3">Update</button>

  </div>
<div class="w-25 d-block d-flex flex-container">
  
    <label class="" for="">Personal Picture:</label>
      <div class="form-control w-auto edit_image_container ">{{ form.image }}</div>
    
</div>
</form>

</div>

{% endblock %}
