{% extends 'project/layouts/base.html' %} {% load static %} {% block title %}
enhance {% endblock %} {% block body %}



<section class="vh-100" style="">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Sign in</h3>
              <form method="post" class="m-5">

            {% csrf_token %} 
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field, errors in form.errors.items %}
                    <!-- <strong>{{ field|title }}:</strong> -->
                    
                        {% for error in errors %}
                            
                            {{ error }}
                        {% endfor %}
                    
                {% endfor %}
            </div>
          {% endif %}
            <div class="form-outline mb-4">

              {{ form.username }}
              <label class="form-label" for="typeEmailX-2">Email</label>
            </div>

            <div class="form-outline mb-4">
              {{ form.password }}
              <label class="form-label" for="typePasswordX-2">Password</label>
              
            </div>
            <div class="form-check d-flex justify-content-start mb-4" style="margin-top: -20px; font-size: 12px;">
              <a href="{% url 'password_reset' %}">Forget Password</a>
            </div>


            

            <button class="btn btn-primary btn-lg btn-block" type="submit">
              Login
            </button>
          </form>


          </div>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}
