{% extends 'project/layouts/base.html' %}
{% load static %}
{% block title %} enhance {% endblock %}

{% block body %}

<form method="post">
{% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}
    <button type="submit" name="save_button" class="btn btn-dark">Submit</button>
    <button type="submit" name="other_button" class="btn btn-dark">add another tag</button>
</form>
{% endblock %}