{% extends 'project/layouts/base.html' %} {% load static %}
{%block title%} {{campaign.title}} Campaign Details {% endblock %}



{% block body %}
<style>
  svg {
    margin-bottom: 2em;
  }

  .rating_background {
    fill: #e8e8e8;
    height: 100%;
    width: 100%;
  }

  .rating_value {
    fill: #ffb94b;
    height: 100%;
  }

  .rating {
    grid-area: rating;
    width: 5rem;
  }

  .rate {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    height: 60px;
    position: relative;
  }

  .rate-0 {
    filter: grayscale(100%);
  }

  .rate>input {
    display: none;
  }

  .rate>label {
    cursor: pointer;
    width: 60px;
    height: 60px;
    margin-top: auto;
    transition: .3s;
  }


  .feedback {
    margin-top: 2vh;
    align-items: center;
    width: 100%;
  }

  .feedback h4 {
    margin: auto;
    width: fit-content;
  }

  .fixed-height-card {
    height: 300px;
  }

  .fixed-height-card img {
    height: 300px;
  }
</style>
<div style="width: 80%;" class="mx-auto">
  <div class="row row-cols-1 row-cols-xl-2 g-2 justify-content-between">

    <!-- project details -->
    <!-- slider -->
    <div class="col-xl-7 ">

      {% include 'project/includes/detailsSlider.html'%}

      <!-- end slider -->
      <!-- start details -->
      <div>
        <p class="fs-4 fw-bold">
          What this campaign for:
        </p>
        <p class="mt-2 lh-lg fs-5 text-wrap">{{campaign.detail}}</p>

        <div class="d-flex my-3">
          <p>From: </p>
          <p class="text-body-secondary mx-2"> {{campaign.start_date}}</p>
          <p>To: </p>
          <p class="text-body-secondary mx-2"> {{campaign.end_date}}</p>
        </div>
        <div class="d-flex ms-2 fs-5"> Tags:
          {%for tag in tags%}
          <a class="btn btn-secondary ms-2">{{tag}}</a>
          {%endfor%}
        </div>

        {% if request.user.id == campaign.user.id or user.is_staff %}
        <hr>

        <div class="d-flex ">
          <a class="btn btn-dark mx-auto" href="{{campaign.get_edit_url}}">Edit this campaign</a>
        </div>

        {% endif %}
      </div>

      <hr>



      <!-- Related Campaigns: -->
      <h3>Related Campaigns:</h3>
      <div class="row row-cols-1 row-cols-md-2 g-4 p-3">
        {% for camp in related_campaigns %}

        <div class="col">
          <a href="{% if user.is_authenticated %}
                    {{ camp.get_details }}
                    {% else %}
                    {% url 'account.login' %}?next={{ camp.get_details }}
                    {% endif %}">
            <div class="card h-100  fixed-height-card">
              <img src="{{camp.get_image_url}}" class="card-img-top shadow shadow-1-secondary " alt="...">
              <div class="card-body pb-2">
                <h5 class="card-title text-black">{{ camp.title }}</h5>
          </a>
          <div>
            <p class="text-truncate">Details: {{camp.detail}}</p>
          </div>
          <!-- progrss -->
          <div class="my-3">
            <div class="d-flex flex-lg-nowrap align-items-end">
              <p class="text-light-emphasis ms-1 fw-bold">{{camp.get_total_deonation}}</p>
              <p class="text-light-emphasis ms-1">
                L.E raised of {{camp.total_target}}
              </p>
            </div>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: {{camp.get_progress}}% "></div>
            </div>
          </div>
          <!-- progrss -->
          <p class="d-flex justify-content-start align-items-center">
            Category:
            <a class="btn btn-secondary ms-2" href="{% url 'category_detail' camp.category.id %}">{{camp.category}}</a>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">End date: {{camp.end_date}}</small>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

  <!-- end Related Campaigns: -->



  <hr>
  <!-- comments -->
  {% include 'project/includes/comment.html'%}

</div>










<!-- card -->
<div class="col-xl-4 col order-first order-xl-last mt-5 pt-5">

  {% include 'project/includes/operations_card.html'%}

</div>
</div>
</div>

{% endblock %}
