{% extends 'project/layouts/base.html' %}
{% load static %}
{% block body %}
<h1 class="text-center">All Campaigns</h1>
    <div class="row row-cols-2 g-4 m-2">
    {% for camp in campaigns %}
       <div class="col-3 m-4">
          <a href="{% if user.is_authenticated %}
                    {{ camp.get_details }}
                    {% else %}
                    {% url 'account.login' %}?next={{ camp.get_details }}
                    {% endif %}">
            <div class="card h-100">
              <img src="{{camp.get_image_url}}" class="card-img-top shadow shadow-1-secondary " style="height: 250px" alt="...">
              <div class="card-body pb-2">
                <h5 class="card-title text-black">{{ camp.title }}</h5>
          </a>
          <div>
            <p class="text-truncate">Details: {{camp.detail}}</p>
          </div>
          <!-- progrss -->
          <div class="my-3">
            <div class="d-flex flex-lg-nowrap align-items-end">
              <p class="text-light-emphasis ms-1 fw-bold">{{camp.get_total_deonation}}</p>
              <p class="text-light-emphasis ms-1">
                L.E raised of {{camp.total_target}}
              </p>
            </div>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: {{camp.get_progress}}% "></div>
            </div>
          </div>
          <!-- progrss -->
          <p class="d-flex justify-content-start align-items-center">
            Category:
            <a class="btn btn-secondary ms-2" href="{% url 'category_detail' camp.category.id %}">{{camp.category}}</a>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">End date: {{camp.end_date}}</small>
        </div>
      </div>
    </div>



{#        <div class="col-3 border border-top-0 rounded-5 shadow bg-body-tertiary m-4">#}
{#        <img#}
{#                style="height: 150px;"#}
{#        class="card-img-top rounded-5 card  mt-2"#}
{#        src="{{ object.get_image_url }}"#}
{#        alt="..."/>#}
{#            <div class="card-body m-3">#}
{#                <div class="d-flex justify-content-between">#}
{#                    <h2 class="card-title">{{ object.title }}</h2>#}
{#                </div>#}
{#                <p class="text-start">{{ object.detail }}</p>#}
{#                <h6 class="">campain end on: {{ object.end_date }}</h6>#}
{##}
{#                <div class="btn-group w-75 m-0 p-0" role="group" aria-label="Basic mixed styles example">#}
{#                <a type="button" class="btn btn-danger w-50 m-0 p-2" href="{{ object.get_delete_url }}">remove</a>#}
{#                <a type="button" class="btn btn-warning w-50 m-0 p-2" href="{{ object.get_edit_url }}">edit</a>#}
{#                <a type="button" class="btn btn-success w-50 m-0 p-2" href="{{ object.get_show_url }}">show</a>#}
{#                </div>#}
{##}
{##}
{#            </div>#}
{#        </div>#}
    {% endfor %}
    </div>

{% endblock %}