{% extends 'project/layouts/base.html' %} {% load static %} {% block title %}
Profile {% endblock %}
<head> </head>
{% block body %}

<div class="container">
      <div class="justify-content-around d-flex">
        <div class="" style="">
        <div class="p-5 m-4 rounded-3 grid gap-5 justify-content-around w-100 text-white" style="background-color:rgb(148, 20, 199); ">
            <img src="{{ MEDIA_URL }}project/images/img4.jpeg" alt="" class="rounded-circle">
            <h1>Lena Amr</h1> 
            <h5>lena@gmail.com</h5>
            <div class="bg-body-tertiary mt-5">
            <a href="" class="text-decoration-none text-black ms-3">Edit Profile</a> <br> <hr>
            <a href="" class="text-decoration-none text-black ms-3">Create Project</a> <br> <hr>
            <a href="" class="text-decoration-none text-black ms-3">Delete Profile</a> <br> <hr>
        </div>

          </div>
        </div>
        <div >
    <div class="col-md-10 d-flex p-2 h-40 w-100" style="margin-left: 5%;">
      <div
        class="bg-body-tertiary p-5 m-3 rounded-3 d-flex grid gap-5 justify-content-around shadow-lg w-100 "
     >
    
        <div class="">
          <div class="d-flex gap-2">
            <h5 class="text-black">First Name :</h5>
            <h5 class="text-body-secondary">lena</h5>
          </div>
          <div class="d-flex gap-2">
            <h5 class="text-black">Last Name :</h5>
            <h5 class="text-body-secondary">Amr</h5>
          </div>
          <div class="d-flex gap-2">
            <h5 class="text-black">Email :</h5>
            <h5 class="text-body-secondary">lena@gmail.com</h5>
          </div>
        </div>
        <div class="">
          <div class="d-flex gap-2">
            <h5 class="text-black">Mobile :</h5>
            <h5 class="text-body-secondary">01554594194</h5>
          </div>
          <div class="d-flex gap-2">
            <h5 class="text-black">Country :</h5>
            <h5 class="text-body-secondary">egypt</h5>
          </div>
          <div class="d-flex gap-2">
            <h5 class="text-black">Birth Date :</h5>
            <h5 class="text-body-secondary">2000</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="row">
          <div
            class="bg-body-tertiary p-3 m-3 rounded-3 d-flex grid gap-5 justify-content-center shadow-lg "
          >
            <a href="" class="text-decoration-none text-black fs-3"><i class="fa-solid fa-chart-pie"></i>Donations</a>
          </div>
          <div
            class="bg-body-tertiary p-3 m-3 rounded-3 d-flex grid gap-5 justify-content-center shadow-lg"
          >
            <a href="" class="text-decoration-none text-black fs-3">Projects</a>
          </div>
        </div>
        </div>
    </div>
    
    <div class=" w-100" style="margin-left: 5%;">
    <div class="col-md-12">
  <div class="justify-content-end">
    <table class="table bg-body-tertiary p-3 m-3 rounded-3 grid gap-5 shadow-lg table-striped">

    <tr class="fs-2">
        <th scope="col" class="text-body-secondary">Title</th>
        <th scope="col" class="text-body-secondary">Donation</th>
        <th scope="col" class="text-body-secondary">Created at</th>
      </tr>
    <tbody>

        <tr>
          <th scope="row">First</th>
          <td>100000</td>
          <td>02/05/2010</td>
        </tr>
        <tr>
          <th scope="row">Second</th>
          <td>20000</td>
          <td>02/05/2015</td>
        </tr>
        <tr>
          <th scope="row">Third</th>
          <td>25000</td>
          <td>02/05/2015</td>
        </tr>
        <tr>
            <th scope="row">First</th>
            <td>100000</td>
            <td>02/05/2010</td>
          </tr>
          <tr>
            <th scope="row">Second</th>
            <td>20000</td>
            <td>02/05/2015</td>
          </tr>
          <tr>
            <th scope="row">Third</th>
            <td>25000</td>
            <td>02/05/2015</td>
          </tr>
      </tbody>

    </table>

</div>
<div class="card p-3 m-3" style="width: 18rem;">

    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <div class="d-flex justify-content-between">
      <h5 class="card-title">First</h5>
      <h5 class="text-body-secondary">100000</h5>
    </div>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>

  </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
